{% extends "base.html" %} 
{% block content %}
  <main id="main">
    <section id="contact" class="contact mb-5">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            <h1 class="page-title">Pongase en contacto</h1>
          </div>
        </div>

        <div class="row gy-4">

          <div class="col-md-4">
            <div class="info-item">
              <i class="bi bi-geo-alt"></i>
              <h3>Ubicación</h3>
              <address>Roque Sáenz Peña, Chaco, Argentina</address>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-4">
            <div class="info-item info-item-borders">
              <i class="bi bi-phone"></i>
              <h3>Teléfono</h3>
              <p><a href="tel:+54903644574664">0364 457-4664</a></p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-4">
            <div class="info-item">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:orquestaescuelavientosdecambio@gmail.com">orquestaescuelavientosdecambio@gmail.com</a></p>
            </div>
          </div><!-- End Info Item -->

        </div>


      </div>
    </section>

  </main><!-- End #main -->
  {% endblock %}
  