{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap-grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'crearpost.css' %}" />

    <title>Crear Post</title>
</head>
<body>
    {% load crispy_forms_tags %}
    <center>
    <div class="conteiner-fluid">
        <br>
        <br>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-5">
                <div class="card text-white bg-dark mb-3 text-left" >
                    <div class="card">
                    <div class="card-header text-center bg-warning" style="color:black;font-family:'Rockwell'"><h4>POST</h4></div></div>
                    <div class="card-body" style="color:white; font-family:'Rockwell'">
                        <form method="post" action="" class="mt-3" autocomplete="off" enctype="multipart/form-data">
                            {% csrf_token %}
                             {{ form | crispy }}
                        
                            <input type="submit" value="Crear Post" class="btn btn-warning btn-lg btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </center>
</body>
</html>