{% extends "base.html" %} 
{% block content %}
{% load static %}
  <main id="main">

    <!-- ======= Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('{% static "img/slide1.jpg"%}')";>
                    <div class="img-bg-inner">
                      <h2>Tocando pueblos con la Música</h2>
                      <p>“𝓛𝓪 𝓶ú𝓼𝓲𝓬𝓪 𝓮𝓼 𝓮𝓵 ú𝓷𝓲𝓬𝓸 𝓲𝓭𝓲𝓸𝓶𝓪 𝓺𝓾𝓮 𝓷𝓸𝓼 𝓱𝓮𝓻𝓶𝓪𝓷𝓪 𝓬𝓸𝓷 𝓽𝓸𝓭𝓸𝓼 𝓵𝓸𝓼 𝓹𝓾𝓮𝓫𝓵𝓸𝓼”
                        Eduardo Puyelli - Música</p>
                    </div>
                  </a>
                </div>

                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('{% static "img/slide2.jpg"%}')";>
                    <div class="img-bg-inner">
                      <h2>Concierto realizado</h2>
                      <p>“I always knew I was a star. And now, the rest of the world seems to agree with me.”</p>
                    </div>
                  </a>
                </div>

              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            {% if post_list %}
            <div class="post-entry-1 lg">
              <a href="{% url 'post' post_list.0.id post_list.0.slug %}"><img src='{% static "img/logo.png" %}' alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="mx-1">&bullet;</span> <span>{{ post_list.0.fecha_publicacion }}</span></div>
              <h2><a href="{% url 'post' post_list.0.id  post_list.0.slug %}">{{ post_list.0.titulo }}</a></h2>
              <p class="mb-4 d-block">{{ post_list.0.texto | slice:":200" }}...</p>

            </div>
            
          </div>

          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                {% for post in post_list|slice:"1:5" %}
                
                <div class="post-entry-1">
                  <a href="{% url 'post' post.id  post.slug %}"><img src="" alt="" class="img-fluid"></a>
                  <div class="post-meta"> <span class="mx-1">&bullet;</span> <span>{{ post.fecha_publicacion }}</span></div>
                  <h2><a href="{% url 'post' post.id  post.slug %}">{{ post.titulo }}</a></h2>
                </div>
                
                {% endfor %}
                
              </div>
              
              <div class="col-lg-4 border-start custom-border">
                {% for post in post_list|slice:"5:9" %}
                
                <div class="post-entry-1">
                  <a href="{% url 'post' post.id  post.slug %}"><img src="" alt="" class="img-fluid"></a>
                  <div class="post-meta"> <span class="mx-1">&bullet;</span> <span>{{ post.fecha_publicacion }}</span></div>
                  <h2><a href="{% url 'post' post.id  post.slug %}">{{ post.titulo }}</a></h2>
                </div>
                
                {% endfor %}
              </div>
              {% endif %}
              <!-- Trending Section -->
              <div class="col-lg-4">

                <div class="trending">
                  <h3>Comentarios de alumnos</h3>
                  <ul class="trending-post">
                    <li>
                      <a href="single-post.html">
                        <span class="number">1</span>
                        <h3>You rock! \m/</h3>
                        <span class="author">Fulanito</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post.html">
                        <span class="number">2</span>
                        <h3>Son lo mejor!</h3>
                        <span class="author">Fulanito2</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post.html">
                        <span class="number">3</span>
                        <h3>Los mejores profes.</h3>
                        <span class="author">Fulanito3</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post.html">
                        <span class="number">4</span>
                        <h3>Muy buen ambiente y grandes profes!</h3>
                        <span class="author">Fulanito4</span>
                      </a>
                    </li>
                    <li>
                      <a href="single-post.html">
                        <span class="number">5</span>
                        <h3>Bien!</h3>
                        <span class="author">Fulanito5</span>
                      </a>
                    </li>
                  </ul>
                </div>

              </div> <!-- End Trending Section -->
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Grid Section -->

    <!-- ======= All post Category Section ======= Aca van todas las noticias, menos las 7 principales que son mostradas antes-->
    <section class="category-section">
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>Todas las noticias</h2>
        </div>

        <div class="row">
          {% for post in post_list|slice:"9:" %}
          <div class="col-md-15">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"> <span class="mx-1">&bullet;</span> <span>{{ post.fecha_publicacion }}</span></div>
              <h2 class="mb-2"><a href="single-post.html">{{ post.titulo }}</a></h2>
              <span class="author mb-3 d-block">{{ post.autor }}</span>
              <p class="mb-4 d-block">{{ post.texto | slice:":100" }}...</p>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </section><!-- End Business Category Section -->



  </main><!-- End #main -->

  
{% endblock content %}