{% block sidebar %}

<style>
        .card{
            box-shadow: 0 10px 40px #9c9c9c9a;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Nosotros</h5>
    <div class="card-body">
        <p class="card-text">Somos una ONG que tiene como principal finalidad contribuir al desarrollo integral y a una mejor calidad de vida de niños y personas, mediante la música.</p>
        <a href="#"
           class="btn btn-danger">Saber mas</a>
    </div>
</div>
</div>

{% endblock sidebar %}