{% extends "base.html" %} 
{% block content %}
{% load static %}
  <main id="main">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <div class="post-meta"><span class="date">{{ post.autor }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.fecha_publicacion }}</span></div>
              <h1 class="mb-5">{{ post.titulo }}</h1>
              <p>{{ post.texto }}</p>
              
            </div><!-- End Single Post Content -->

            <!-- ======= Comments ======= -->
            <div class="comments">
              <h5 class="comment-title py-4">Comentarios</h5>

              

            </div><!-- End Comments -->
            <div id="comments_section">

              {% if user.is_authenticated %}
              <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                  {{ comentario_form }}
                  <button class="btn btn-primary" type="submit">Comentar <i class="fas fa-comments"></i></button>
                </div>
              </form>
              {% else %}
              <a class="btn btn-primary" href="{% url 'login' %}">Iniciar sesión para comentar!</a><br>
              {% endif %}
            
              {% if comentarios %}
              <hr>
              <ul>
                {% for comentario in comentarios %}
                <li>      

                  <div class="comment d-flex mb-4">
                    <div class="flex-shrink-0">
                    </div>
                    <div class="flex-grow-1 ms-2 ms-sm-3">
                      <div class="comment-meta d-flex align-items-baseline">
                        <h6 class="me-2">{{comentario.autor}}<span class="mx-1">&bullet;</span> <span>{{ comentario.fecha_publicacion }}</span></h6>
                      </div>
                      <div class="comment-body">
                        {{comentario.texto}}
                      </div>
                    </div>
                  </div>

                </li>
                {% endfor %}
              </ul>
              {% else %}
                <h5 class="comment-title py-4">No hay comentarios...</h5>
              {% endif %}
            
            </div>



          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->

{% endblock content %}
